@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f9f9;
  --background-middle: #f3f3f3;
  --text-soft: #7f7f7f;
  --text-middle: #5b5b5b;
  --text-strong: #2f2f2f;
  --lines: #e1e1e1;
  --lines-middle: #d1d1d1;
  --ui-bg-selected: #b0cfff;
  --ui-fg-selected: #116df6;
  user-select: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #;
    --foreground: #;
  }
}

body {
  color: var(--text-soft);
  background: var(--background-middle);
  font-family: Arial, Helvetica, sans-serif;
}

img {
  -webkit-user-drag: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  ::-webkit-scrollbar {
    width: 8px;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }
  ::-webkit-scrollbar-track {
    background: var(--lines);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--text-soft);
    border-radius: 2px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

/* ------------ Inputs ------------ */
.input_default {
  border-radius: 12px;
  padding: 13px 12px;
  border: 1px solid var(--lines);
  display: block;
  width: 100%;
  transition: 200ms;
}
.input_default:focus {
  outline: 1px solid var(--text-soft);
  transition: 200ms;
}
.input_default::placeholder {
  font-size: 14px;
  color: var(--text-soft);
  opacity: 75%;
}

/* ------------ Texts ------------ */
.logo_text {
  font-size: 32px;
  font-weight: 700;
  background: #666666;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  text-shadow: 0px 3px 3px rgba(224, 224, 224, 0.5);
}
.logo_text_lg {
  font-size: 28px;
  font-weight: 700;
  background: #666666;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  text-shadow: 0px 3px 3px rgba(224, 224, 224, 0.5);
}
.logo_text_md {
  font-size: 24px;
  font-weight: 700;
  background: #666666;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  text-shadow: 0px 3px 3px rgba(224, 224, 224, 0.5);
}
.logo_text_sm {
  font-size: 20px;
  font-weight: 700;
  background: #666666;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  text-shadow: 0px 3px 3px rgba(224, 224, 224, 0.5);
}
.large_text {
  font-size: 30px;
  font-weight: 400;
  color: var(--text-middle);
}
.large_md_text {
  font-size: 26px;
  font-weight: 400;
  color: var(--text-middle);
}
.medium_text {
  font-size: 20px;
  font-weight: 700;
  color: var(--text-middle);
}

/* ------------ Buttons ------------ */
.primary_button {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ui-bg-selected);
  color: var(--ui-fg-selected);
  font-weight: 700;
  border-radius: 0;
  padding: 14px 20px;
  outline: 1px solid transparent;
  transition: 200ms;
}
.primary_button::after {
  background: #fff;
  content: '';
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
}
.primary_button:hover {
  background-color: #116df6;
  transition: 200ms;
  color: #fff;
}
.primary_button:hover::after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.secondary_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  color: var(--text-middle);
  border-radius: 0;
  padding: 14px 20px;
  outline: 1px solid transparent;
  transition: 200ms;
}
.secondary_button:hover {
  filter: brightness(1.07);
  outline: 1px solid var(--text-soft);
  transition: 200ms;
}

.tertiary_button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: var(--text-strong);
  border-radius: 0;
  padding: 14px 20px;
  outline: 1px solid var(--lines);
}
.tertiary_button:hover {
  background-color: var(--text-middle);
  transition: 200ms;
}

.circle_button {
  width: fit-content;
  aspect-ratio: 1/1;
  border-radius: 100%;
  border: 1px solid var(--lines-middle);
  padding: 10px;
  background-color: inherit;
  transition: 200ms;
}
.circle_button:hover {
  background-color: var(--lines);
  transition: 200ms;
}

.rounded_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  color: var(--text-middle);
  border-radius: 1000px;
  padding: 14px 20px;
  outline: 1px solid transparent;
  transition: 200ms;
}
.rounded_button:hover {
  filter: brightness(1.07);
  outline: 1px solid var(--text-soft);
  transition: 200ms;
}
